/*-------------------------------------------
 *   Application Styling
-------------------------------------------*/

/* --- Modal Styling ---*/


/* --- Dynamic classes for types ---*/
.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.grass {
    background-color: #7AC74C;
}
    
.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.flying {
    background-color: #A98FF3;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.rock {
    background-color: #B6A136;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.ghost {
    background-color: #735797 ;
}

.steel {
    background-color: #B7B7CE;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.fairy {
    background-color: #D685AD;
}


/* ------------------------------------------
*   Layouts
-------------------------------------------*/

*{
font-size: 1rem;
}

body {
display: flex;
flex-direction: column;
margin: 0;
font-family: Helvetica, sans-serif;
}

/* Header */

.top {
min-height: 15vh;
background-color: rgb(180, 45, 45);
}

/* Center content */

.center {

display: flex;
background-color: rgb(202, 179, 159);
min-height: 70vh;

}

.side{
background-color: rgb(212, 212, 212);
flex: 1;
}

#app{
background-color: rgb(255, 255, 255);
flex: 9;
padding: 1.5rem;
}

#create-form {
text-align: center;

}

h1 {
text-align: center;
color: whitesmoke;
font-size: 3rem;
margin: 0.5rem;
}

input, select {
background-color: rgb(233, 205, 205);
}